:root {
  --r-heading1-size: 1.8em;
  --r-heading2-size: 1.4em;
  --r-heading3-size: 1.2em;
  --r-heading-text-transform: inherit;
  --standard-spacing: 10px;
}

.notes {
  font-size: 65%;
}

.reveal .slides {
  text-align: left;
}

.reveal *.insertion:before {
  content: "👉 ";
}

.reveal *.deprecated:before {
  content: "👎 ";
}

.reveal table {
  margin: 0;
  width: 100%;
}

.reveal img {
  max-width: 300px;
}

.reveal img.tall-screenshot {
  max-width: 50%;
}

.reveal img.screenshot {
  max-width: 70%;
}

.reveal img.full-width {
  max-width: 100%;
}

.reveal img.full-size {
  max-width: none;
}

.reveal code {
  background-color: aliceblue;
  outline: 1px dotted lightskyblue;
}

.reveal .done {
  opacity: 35%;
}

.reveal .fifty-fifty-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 1em;
}

.reveal .seventy-thirty-grid {
  display: grid;
  grid-template-columns: minmax(0, 70%) minmax(0, 30%);
  grid-column-gap: 1em;
}

.reveal .white-text {
  --r-heading-color: white;
  color: white;
}

.reveal .compact {
  --r-main-font-size: 36px;
  font-size: var(--r-main-font-size);
}

.reveal .compressed {
  --r-main-font-size: 20px;
  font-size: var(--r-main-font-size);
}

.reveal li.selected {
  color: coral;
}

.reveal li.selected:before {
  content: "👉 ";
}

.reveal li.completed {
  color: forestgreen;
  opacity: 50%;
}

.reveal li.completed:before {
  content: "✅ ";
}

.reveal kbd {
  display: inline-block;
  font-family: monospace;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid silver;
  border-bottom: medium none #ffffff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.196), 0 0 0 1px #ffffff inset;
  padding: 0 5px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.reveal .slides section .fragment.highlight-green.visible {
  color: rgb(48, 168, 48);
}

.reveal .slides section .fragment.highlight-red.visible {
  color: rgb(173, 32, 32);
}

.reveal .slides section .fragment.semi-fade-out.visible {
  opacity: 0.2;
}

.reveal .pro {
  color: rgb(48, 168, 48);
}

.reveal .contra {
  color: rgb(173, 32, 32);
}

.reveal table.labeled-images th {
  vertical-align: middle;
}

.reveal table.labeled-images td img {
  max-width: 100%;
}

.reveal canvas,
.reveal svg,
.reveal form {
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: var(--r-block-margin) auto;
  padding: var(--standard-spacing);
  font-size: 0.55em;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal form {
  display: grid;
  grid-template-columns: minmax(250px, auto) 1fr;
  gap: var(--standard-spacing);
}

.reveal form *:nth-child(odd) {
  justify-self: end;
}

.reveal form input {
  align-self: center;
}

input:invalid {
  outline: 1px dotted red;
  background-color: mistyrose;
}
